@import "common.scss";

@mixin border($두께: 1px, $색상: white) {
    border: $두께 solid $색상;
}
@mixin size ($width: 100%, $height: 100vh){
    width: $width;
    height: $height;
}

$ipad: 1024px;
$mob767: 767px;
$mob480: 480px;

@mixin respond($media) {
    @media screen and (max-width:$media) {
        @content ;
    }
}
header {
    display: none;
    position: fixed;
    @include size ($height:100px);
    z-index: 30;

    .innerbox {
        max-width: 1800px;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >a {
            width: 300px;

            img {
                width: 100%;
            }
        }

        #nav {
            display: flex;
            font-size: 1.2em;
            height: 100%;
            text-align: center;

            >li {
                margin-right: 20px;

                &:last-child {
                    margin: 0;
                }

                a {
                    position: relative;
                    display: block;
                    color: white;

                    &::after {
                        content: "";
                        display: block;
                        width: 0%;
                        height: 1px;
                        background: #e7e3e3;
                        position: absolute;
                        bottom: 0;
                        left: -2px;
                        transition: 0.5s;
                    }
                }

                >a {
                    height: 80%;
                    padding-top: 40px;
                }

                .sub {
                    height: 0px;
                    overflow: hidden;
                    transition: all 0.3s;

                    li {
                        width: 100%;
                        position: relative;

                        a {
                            height: 40px;
                            line-height: 40px;
                            font-size: 0.9em;
                        }

                        &:hover>a::after {
                            width: 100%;
                        }
                    }
                }

                &:hover .sub {
                    height: 120px;
                }

                &:hover>a::after {
                    width: 100%;
                }
            }
        }
    }  
    &.on{
        display: block;
    }
}

#container {
    >section {
        position: relative;
        @include size ($height:100%);

        &:first-child {
            >.imgBox {
                height: 100vh;

                >img {
                    @include size ($height:100%);
                    object-fit: cover;

                    &:last-child {
                        height: unset;
                        min-height: 300px;
                        position: absolute;
                        z-index: 10;
                        left: 0;
                        bottom: 0;
                    }
                }
            }

            .textBox {
                @include border();
                position: fixed;
                top: 10%;
                left: 50%;
                transform: translateX(-50%);
                @include size ($width:500px, $height:500px);
                color: white;
                text-align: center;

                p {
                    padding-top: 30%;
                    font-family: "roboto";
                    font-size: 1.7em;

                    span {
                        display: block;
                    }
                }

                .btnWrap {
                    padding-top: 20%;

                    a {
                        display: block;
                        margin: 0 auto;
                        color: white;
                        font-size: 1.3em;
                        line-height: 2.5em;
                    }

                    img {
                        display: block;
                        @include size ($width:40px, $height:40px);
                        margin: 0 auto;
                        animation: mouse 0.4s linear 0s infinite alternate;
                    }
                    @keyframes mouse {
                        0% {margin-top: 20px;}
                        100% {margin-top: 30px;}
                    }
                }
            }
        }

        &:last-child {
            background-color: #333;
            display: flex;
            height: 100vh;

            .infoWrap {
                position: relative;
                width: 25%;
                transition: all 0.5s;
                text-align: center;
                color: white;
                overflow: hidden;

                .arrowWrap {
                    display: none;
                }
                &:hover{
                    width: 35%;
                }
                &.on {
                    width: 100%;
                    overflow: unset;

                    .info{
                        .textBox {
                            top: 20%;
                            left: 20%;
    
                            h2 {
                                font-size: 3em;
                            }
                        }
                    }
                    .contentBox{
                        height: 100%;
                    }
                    .arrowWrap {
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: 5%;
                        transform: translateX(-50%);
                        @include size ($width:60px, $height:60px);
                        img{
                            animation: motion 0.3s linear 0s infinite alternate;
                        } 
                    }
                    @keyframes motion {
                        0% {margin-top: 0px;}
                        100% {margin-top: 10px;}
                    }
                }

                &.on .info::before {
                    background: rgba(0, 0, 0, 0.2);
                }

                &.off {
                    width: 0;

                    .textBox {
                        // width: 0% !important;
                    }
                }
                &.mouseOn{
                    width: 35%;
                }
                &.mouseOff{
                    width: 21.6666%;
                }
                .info{
                    position: relative;
                    @include size ($height:100%);

                    >.textBox {
                        position: absolute;
                        width: 100%;
                        top: 40%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        z-index: 50;
                        overflow: hidden;

                        h2 {
                            font-size: 2em;
                            margin-bottom: 30px;
                        }

                        a {
                            font-size: 1.1em;
                            margin: 0 auto;
                        }

                        img {
                            display: none;
                        }
                    }
                    >img {
                        @include size ($height:100%);
                        object-fit: cover;
                        transition: all 1s;
                    }
                    
                    &::before {
                        content: "";
                        @include size ($height:100%);
                        display: block;
                        position: absolute;
                        background: rgba(0, 0, 0, 0.5);
                        transition: all 1s;
                    }
                    &:hover::before{
                        background: rgba(0, 0, 0, 0.2);
                    }
                }
                .contentBox{
                    height: 0%;
                    overflow: hidden;
                    background-color: #333;
                    transition-delay: 0.5s;
                    section{
                        @include size ();
                        display: flex;
                    }
                }
                @include respond($ipad){
                    @include size ($width:50%,$height:50%);
                    &:hover{
                        width: 50%;
                    }
                    &.on {
                        @include size ($height:100%);
                    }
                    &.off {
                        @include size ($width:0,$height:0);
                        transition: none;
                    }
                }
                @include respond($mob480){
                    @include size ($width:100%,$height:25%);
                    &:hover{
                        width: 100%;
                    }
                    &.on {
                        transition: 0.5s;
                    }
                    &.off {
                        transition: none;
                    }
                }
            }
            @include respond($ipad){
                flex-wrap: wrap;
            }
        }
    }
}